@font-face {
  font-family: "FluxischElse";
  font-weight: bold;
  src: url('../assets/fonts/FluxischElse-Bold.woff') format('woff');
}

@font-face {
  font-family: "FluxischElse";
  font-weight: 300;
  src: url('../assets/fonts/FluxischElse-Light.woff') format('woff');
}

@font-face {
  font-family: "FluxischElse";
  font-weight: normal;
  src: url('../assets/fonts/FluxischElse-Regular.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');