:root {
  --accent-color: #f1f1f1;
  --accent-dark-color: #d4d4d4;
  --background-color: #fdfdfd;
  --primary-color: #1a1a1a;
  --font-s: 0.875rem; /* 14px */
  --font-m: 1rem; /* 16px */
  --font-l: 1.25rem; /* 20px */
  --font-xl: 1.5rem; /* 24px */
  --font-xxl: 2.25rem; /* 36px */
  --font-xxxl: 3rem; /* 48px */
}

#root, #__next {
  isolation: isolate;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(90deg, var(--background-color) 20px, transparent 1%) center,
              linear-gradient(var(--background-color) 20px, transparent 1%) center,
              var(--accent-color);
  background-size: 22px 22px;
  color: var(--text-color);
  display: grid;
  font-family: 'Inter', Roboto, sans-serif;
  font-size: var(--font-base);
  line-height: 1.5;
  padding: clamp(2rem, 10vw, 4rem) 1rem;
  grid-template-columns: 1fr;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  gap: 24px;
}

.header, .main {
  display: flex;
  gap: 24px;
}

.header {
  line-height: 1.2;
}

.main {
  flex-direction: column;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.skills {
  display: flex; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

h1 {
  font-size: var(--font-xxl);
  font-weight: 750;
}

h2 {
  font-size: var(--font-xl);
  font-weight: 700;
}

h3 {
  font-size: var(--font-m);
  font-weight: 600;
}

p {
  font-size: var(--font-m);
  font-weight: 400;
  text-wrap: pretty;
}

.logo {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: var(--accent-color);
  flex-shrink: 0;
}

.logo svg {
  position: absolute;
  top: 8%;
  left: 12%;
  width: 75%;
  height: 75%;
  fill: var(--primary-color);
}

.horizontal-line {
  position: relative;
  height: 6px;
  margin-top: 4px;
  grid-column: 1 / span 2;
}

.horizontal-line::before,
.horizontal-line::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 6px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 4 4'%3E%3Cpath d='M0,0 1,0 1,1 0,1 M1,0 2,0 2,1 1,1 M1,1 2,1 2,2 1,2 M0,1 1,1 1,2 0,2 M2,2 3,2 3,3 2,3 M3,2 4,2 4,3 3,3 M3,3 4,3 4,4 3,4 M2,3 3,3 3,4 2,4 ' fill='%23d4d4d4'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
}

.horizontal-line::before {
  left: 0;
}

.horizontal-line::after {
  right: 0;
}

.decoration {
  color: var(--accent-dark-color);
}

.buttons {
  display: flex;
  gap: 12px;
  justify-content: right;
}

.button-icon {
  margin-right: 4px;
  stroke: var(--primary-color);
  vertical-align: middle;
}

.button {
  text-align: center;
  transition: transform 150ms ease-in-out;
  font-size: var(--font-m);
  font-weight: 500;
}

.button:hover {
  transform: scale(1.05) rotate(1deg);
}

.button a {
  display: block;
  color: var(--primary-color);
  padding: 4px 8px;
  text-decoration: none;
}

.button-primary {
  background: var(--accent-color);
}

.button-transparent {
  background: transparent;
}

ul.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
}

ul.skills li {
  background-color: var(--accent-color);
  padding: 4px 8px;
  font-size: var(--font-s);
  color: var(--primary-color);
}