#cupcake {
  background-color: coral;
}

#cupcake div {
  width: 300px;
  height: 300px;
  top: auto;
  left: auto;
  background-repeat: no-repeat;

  background-image: 
    radial-gradient(ellipse, DarkSlateGrey 50%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse, White 50%, rgba(0, 0, 0, 0) 50%)
    ;

  background-size:
    220px 80px,
    396px 210px;
  
  background-position:
    50% 184px,
    50% 110px;
}


#cupcake div::before {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;

  background-image: 
    conic-gradient(rgba(0, 0, 0, 0) 34%, Black 34%, Black 45%, rgba(0, 0, 0, 0) 45%);

  background-size: 
    76px 92px;

  background-position:
    200px 200px;
  
}

#cupcake div::after {
  outline: 1px solid lime;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;

  background-image:

    /* cherry */
    radial-gradient(circle, White 50%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse, Crimson  50%, rgba(0, 0, 0, 0) 51%),

    /* frosting */
    radial-gradient(ellipse, LightPink 60%, rgba(0, 0, 0, 0) 61%),
    radial-gradient(ellipse, LightPink 50%, rgba(0, 0, 0, 0) 51%),
    radial-gradient(ellipse, LightPink 50%, rgba(0, 0, 0, 0) 51%),
    radial-gradient(ellipse, LightPink 60%, rgba(0, 0, 0, 0) 61%),

    /* cup */
    linear-gradient(74deg, rgba(255, 255, 255, 0) 30%, IndianRed 21%),
    linear-gradient(-74deg, rgba(255, 255, 255, 0) 30%, IndianRed 21%),
    radial-gradient(ellipse, IndianRed 50%, rgba(0, 0, 0, 0) 51%)
    ;

  background-size:

    /* cherry */
    8px 8px,
    56px 46px,

    /* frosting */
    200px 76px,
    84px 70px,
    84px 70px,
    150px 76px,

    /* cup */
    90px 86px,
    90px 86px,
    159px 32px;

  background-position:

    /* cherry */
    53% 52px,
    50% 40px,

    /* frosting */
    50% 100px,
    left 48px top 96px,
    right 48px top 96px,
    50% 60px,

    /* cup */
    left 60px bottom 70px,
    right 60px bottom 70px,
    50% 211px;

}
