:root {
  --transparent: rgba(0, 0, 0, 0);
  --lily-background: SteelBlue;
  --lily-shadow: rgba(3, 13, 31, 0.2);
  --lily-highlight: rgba(223, 216, 193, 0.6);
  --lily-leaf: YellowGreen;
  --lily-leaf-darker: DarkSeaGreen;
  --lily-hair: DarkSlateGrey;
  --lily-skin: BurlyWood;
  --lily-blush: RosyBrown;
  --lily-eyes: GhostWhite;
  --lily-frog: OliveDrab;
}

#lily {
  /* background-image: url("./sketches/lily.png"); */
  background-color: var(--lily-background);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: center;
  display: flex;
  justify-content: center; 
  align-items: center;
  min-height: 380px;
  position: relative;
  overflow: hidden;
}

#lily div:before,
#lily div:after {
  display: block;
  content: '';
  position: absolute;
}

#lily div {
  position:absolute;
  left: auto;
  top: 8%;
  width: 400px;
  height: 300px;
  background-repeat: no-repeat;
  outline: 1px solid var(--lily-highlight);

  background-image: 

  /* leaves */

  conic-gradient(
    var(--lily-background) 8%,
    var(--transparent) 8%),
  radial-gradient(
    ellipse,
    var(--lily-leaf) 50%,
    var(--transparent) 50%),

  conic-gradient(
    var(--transparent) 86%,
    var(--lily-background) 86%,
    var(--lily-background) 96%,
    var(--transparent) 96%),
  radial-gradient(
    ellipse,
    var(--lily-leaf) 50%,
    var(--transparent) 50%),

  radial-gradient(
    ellipse,
    var(--lily-leaf-darker) 50%,
    var(--transparent) 50%),

  radial-gradient(
    ellipse,
    var(--lily-leaf) 50%,
    var(--transparent) 50%),

  conic-gradient(
    var(--transparent) 36%,
    var(--lily-background) 36%,
    var(--lily-background) 44%,
    var(--transparent) 44%),
  radial-gradient(
    ellipse,
    var(--lily-leaf) 50%,
    var(--transparent) 50%
    ),

  radial-gradient(
    ellipse,
    var(--lily-leaf-darker) 50%,
    var(--transparent) 50%
    ),

  conic-gradient(
    var(--transparent) 7%,
    var(--lily-background) 7%,
    var(--lily-background) 16%,
    var(--transparent) 16%
    ),
  radial-gradient(
    ellipse,
    var(--lily-leaf-darker) 50%,
    var(--transparent) 50%
    ),

  conic-gradient(
    var(--transparent) 48%,
    var(--lily-background) 48%,
    var(--lily-background) 57%,
    var(--transparent) 57%
    ),
  radial-gradient(
    ellipse,
    var(--lily-leaf) 50%,
    var(--transparent) 50%
    ),

  conic-gradient(
    var(--transparent) 82%,
    var(--lily-background) 82%,
    var(--lily-background) 95%,
    var(--transparent) 95%
    ),
  radial-gradient(
    ellipse,
    var(--lily-leaf-darker) 50%,
    var(--transparent) 50%
    ),

  radial-gradient(
    ellipse,
    var(--lily-leaf-darker) 50%,
    var(--transparent) 50%
    ),

  conic-gradient(
    var(--transparent) 50%,
    var(--lily-background) 50%,
    var(--lily-background) 60%,
    var(--transparent) 60%
    ),
  radial-gradient(
    ellipse,
    var(--lily-leaf) 50%,
    var(--transparent) 50%
    ),

  radial-gradient(
    ellipse,
    var(--lily-leaf-darker) 50%,
    var(--transparent) 50%
    ),

  conic-gradient(
    var(--transparent) 40%,
    var(--lily-background) 40%,
    var(--lily-background) 50%,
    var(--transparent) 50%
    ),
  radial-gradient(
    ellipse,
    var(--lily-leaf) 50%,
    var(--transparent) 50%
    ),

  conic-gradient(
    var(--transparent) 6%,
    var(--lily-background) 6%,
    var(--lily-background) 14%,
    var(--transparent) 14%
    ),
  radial-gradient(
    ellipse,
    var(--lily-leaf) 50%,
    var(--transparent) 50%
    )
  ;


  background-size:

  /* leaves */
  26px 24px,
  60px 38px,

  26px 24px,
  60px 38px,

  38px 24px,

  41px 26px,

  36px 50px,
  78px 50px,

  33px 20px,

  26px 24px,
  60px 38px,

  30px 40px,
  86px 54px,

  15px 15px,
  38px 24px,

  33px 20px,

  30px 40px,
  86px 54px,

  40px 25px,

  38px 24px,
  50px 32px,

  20px 16px,
  46px 29px
  ;

  
  background-position:

  /* leaves */
  38px 184px,
  20px 180px,

  72px 139px,
  58px 134px,

  56px 157px,

  79px 216px,

  110px 188px,
  88px 188px,

  118px 116px,

  150px 240px,
  132px 236px,

  189px 192px,
  162px 186px,

  242px 198px,
  234px 196px,

  252px 124px,

  275px 216px,
  250px 210px,

  292px 202px,

  342px 186px,
  336px 182px,

  322px 132px,
  310px 128px

  ;

}


#lily div::before {
  width: 400px;
  height: 300px;
  background-repeat: no-repeat;

  background-image:


    /* forehead */
    radial-gradient(
      110% 130% at 85% 6%,
      var(--transparent) 80%,
      var(--lily-skin) 80%
      ),

    radial-gradient(
      110% 130% at 15% 8%,
      var(--transparent) 76%,
      var(--lily-skin) 76%
      ),

    radial-gradient(
      100% 100% at 50% 50%,
      var(--lily-skin) 50%,
      var(--transparent) 50%
      ),


    /* eyebrows */
    radial-gradient(
      70% 100% at 30% 120%,
      var(--transparent) 30%,
      var(--lily-hair) 30%,
      var(--lily-hair) 74%,
      var(--transparent) 74%
      ),

      radial-gradient(
        70% 100% at 60% 118%,
        var(--transparent) 30%,
        var(--lily-hair) 30%,
        var(--lily-hair) 74%,
        var(--transparent) 74%
        ),

    /* eyes */
    radial-gradient(
      50% 50% at 50% 50%,
      var(--lily-hair) 100%,
      var(--transparent) 100%
      ),
    radial-gradient(
      50% 50% at 50% 50%,
      var(--lily-hair) 100%,
      var(--transparent) 100%
      ),

    radial-gradient(
      50% 50% at 50% 50%,
      var(--lily-eyes) 100%,
      var(--transparent) 100%
      ),
    radial-gradient(
      50% 50% at 50% 50%,
      var(--lily-eyes) 100%,
      var(--transparent) 100%
      ),




    /* nose */
    radial-gradient(
      90% 100% at 50% 0%,
      var(--lily-blush) 50%,
      var(--transparent) 50%
      ),

    radial-gradient(
      56% 160% at 50% 110%,
      var(--lily-blush) 64%,
      var(--transparent) 64%
      ),

    /* blush */
    radial-gradient(
      50% 50% at 50% 50%,
      var(--lily-blush) 80%,
      var(--transparent) 80%
      ),

    radial-gradient(
      50% 50% at 50% 50%,
      var(--lily-blush) 80%,
      var(--transparent) 80%
      ),

    /* hair */

    radial-gradient(
      96% 130% at 100% 110%,
      var(--transparent) 40%,
      var(--lily-hair) 40%,
      var(--lily-hair) 82%,
      var(--transparent) 82%
      ),

    radial-gradient(
      120% 160% at 0% 0%,
      var(--lily-hair) 78%,
      var(--transparent) 78%
      ),

    radial-gradient(
      100% 100% at 50% 0%,
      var(--lily-hair) 50%,
      var(--transparent) 50%
      ),

    radial-gradient(
      120% 160% at 0% 0%,
      var(--transparent) 76%,
      var(--lily-hair) 76%
      ),

    radial-gradient(
      90% 124% at 22% 108%,
      var(--transparent) 46%,
      var(--lily-hair) 46%,
      var(--lily-hair) 84%,
      var(--transparent) 84%
      ),

    radial-gradient(
      120% 166% at 90% -28%,
      var(--transparent) 78%,
      var(--lily-hair) 78%
      ),

    radial-gradient(
      150% 100% at 8% 0%,
      var(--lily-hair) 50%,
      var(--transparent) 50%
      ),

    radial-gradient(
      110% 110% at 85% 16%,
      var(--lily-hair) 76%,
      var(--transparent) 76%
      ),

    radial-gradient(
      100% 100% at 52% 16%,
      var(--lily-hair) 76%,
      var(--transparent) 76%
      ),

    /* head */

    radial-gradient(
      ellipse,
      var(--lily-skin) 50%,
      var(--transparent) 50%
      )
      ;

  background-size:

    /* forehead */
    12px 16px,
    12px 16px,
    12px 3px,

    /* eyebrows */
    30px 10px,
    38px 11px,

    /* eyes */
    8px 7px,
    8px 7px,
    16px 8px,
    16px 8px,


    /* nose */
    12px 6px,
    14px 20px,

    /* blush */
    18px 9px,
    18px 9px,

    /* hair */
    70px 68px,
    21px 42px,
    47px 8px,
    75px 60px,
    80px 68px,
    50px 50px,
    48px 48px,
    24px 50px,
    100px 44px,

    /* head */
    180px 100px;

  background-position:

    /* forehead */
    200px 133px,
    188px 133px,
    229px 156px,

    /* eyebrows */
    158px 148px,
    207px 147px,

    /* eyes */
    173px 160px,
    227px 160px,
    166px 160px,
    220px 160px,

    /* nose */
    192px 187px,
    192px 168px,

    /* blush */
    164px 172px,
    220px 172px,

    /* hair */
    120px 76px,
    144px 144px,
    108px 186px,
    69px 126px,
    190px 74px,
    264px 118px,
    264px 168px,
    240px 142px,
    150px 108px,

    /* head */
    112px 102px;
}

#lily div::after {
  width: 400px;
  height: 300px;
  background-repeat: no-repeat;

  background-image:
  /* frog */

    radial-gradient(
      80% 80% at 50% 70%,
      var(--lily-leaf-darker) 50%,
      var(--transparent) 50%
      ),

    radial-gradient(
      60% 72% at 90% 70%,
      var(--lily-frog) 50%,
      var(--transparent) 50%
      ),

    radial-gradient(
      60% 72% at 10% 70%,
      var(--lily-frog) 50%,
      var(--transparent) 50%
      ),

    radial-gradient(
      ellipse,
      var(--lily-frog) 50%,
      var(--transparent) 50%
      ),


    /* leaf */
    radial-gradient(
      ellipse,
      var(--lily-leaf) 50%,
      var(--transparent) 50%
      )
    ;



  background-size:

    /* frog */
    24px 34px,
    32px 24px,
    34px 24px,
    30px 36px,

    /* leaf */
    94px 48px
    
    ;

  background-position:

    /* frog */
    194px 76px,
    170px 85px,
    212px 86px,
    192px 75px,

    /* leaf */
    160px 77px
    ;


}
